.cart_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.cart_container_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_clear {
    padding: 0.8em;
    border-radius: 16px;
    margin: 0.5em;
    background-color:rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    color: rgb(224, 43, 43);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 0.5;
}

.btn_checkout {
    padding: 0.8em;
    border-radius: 16px;
    margin: 0.5em;
    background-color:rgb(224, 43, 43);
    border-color: rgb(224, 43, 43);
    color: rgb(223, 223, 223);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 0.5;
}

h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.btn_productos {
    width: 15rem;
    padding: 0.8em;
    border-radius: 16px;
    margin: 0.5em;
    background-color:rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    color: rgb(224, 43, 43);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 0.5;
    text-align: center;
}

.checkout_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout_container p {
    font-size: 1rem;
    background-color: rgb(221, 221, 221);
    border-radius: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1.2em;
}