.container_detail {
    width: 90%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_imagen {
    grid-area: 1 / 1 / 2 / 2;
}

.img_style {
    width: 80%;
    border-radius: 16px;
}

.container_info {
    grid-area: 1 / 2 / 2 / 3;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

h3 {
    margin-top: 5%;
    font-size: 1.2rem;
    font-weight: normal;
    color: black;
}

.counter_info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10%;
}

.btn_agregar {
    padding: 0.8em;
    border-radius: 16px;
    margin: 0.5em;
    background-color:rgb(223, 223, 223);
    border-color: rgb(223, 223, 223);
    color: rgb(224, 43, 43);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-size: 0.5;
}